<%= link_to "Home", root_path, class:"btn btn-primary"%>
<div class="container">
  <b>Sender : <%= @email.email %></b><br>
  <b>Object : <%= @email.object %></b><br>
  <b>Date: <%= @email.created_at %></b><br>
  <%= @email.body %>
</div>